<div class="bought">
    <div class="bought-left">
        <span class="cart-2-pizza-name"> <%= pizza.title %> (<%
            if (size === 'big_size') { %>велика<% } else { %>мала<% } %>) </span>
        <div>Ціна: <%= pizza[size].price %> грн.</div>
        <div>
            <button class="btn btn-danger minus">-</button>
            <span class="label label-default num-label"><%=quantity%></span>
            <button class="btn btn-success plus">+</button>
            <button class="btn btn-default remove-btn"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="bought-right">
        <div class="crop"><img src=<%= pizza.icon %>></div>
    </div>
</div>